.separator {
    position: relative;
    background: #2c3e50;
    height: 1vh;

}

.wave {
    position: absolute;
    height: 100px;
    width: 100%;
    background: #59981A;
    bottom: 0;

}

.wave::before,
.wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    
}

.wave::before {
    width: 55%;
    height: 109%;
    background-color: #81B622;
    right: -1.5%;
    top: 60%;

}

.wave::after {
    width: 55%;
    height: 100%;
    background-color: #59981A;
    left: -1.5%;
    top: 40%;
        z-index: 1;
}
section {
    padding-top: 3.75rem;
}