@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Inter:wght@100;300;400;500;700;800;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap");

:root {

  --primary: #04806c;
  --primary-light: #3c9e94;
  --primary2: #7dac4b;
  --primary2-light: #a4c87a;
  --primary3: #c4dba3;
  --dark: #000000;
  --gray: #464a53;
  --white: #ffffff;
  --gray2: #ECF0F1;

  --header-1: 64px;
  --header-2: 48px;
  --header-3: 42px;
  --header-4: 32px;

  --text-medium: 18px;
  --text-regular: 16px;
  --text-light: 13px;

  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d5e8d9;
}

.bg-section{
  background-color: var(--gray2);
}

.btn {
  padding: 15px 25px;
  border-radius: 6px;
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
  border: none;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:focus {
  background-color: var(--primary-light);
}

.btn-primary:hover {
  background-color: var(--primary-light);
}


.btn-secondary {
  background-color: var(--primary2);

}

.btn-secondary:focus {
  background-color: var(--primary2-light);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;

}

.btn-secondary:hover {
  background-color: var(--primary2-light) !important;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;

}

.navbar-brand img {
  padding-right: 16px;
}

.navbar-brand span {
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
  color: var(--dark);
}

.navbar {
  padding: 48px 0;
  background-color: var(--primary3);
}

a.nav-link {
  margin-right: 39px;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  color: var(--dark) !important;
}

section.hero {
  margin: 5rem 0;
}

.text-label,
.text-hero-bold,
.text-regular,
.text-services {
  margin: 24px 0;
}

.text-label {
  color: var(--primary);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  line-height: 31px;
}

.text-hero-bold {
  color: var(--dark);
  font-size: var(--header-1);
  font-weight: var(--font-weight-bold);
  line-height: 74px;
}

.text-regular {
  color: var(--gray-1);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  line-height: 31px;
}

.text-services{
  color: var(--dark);
  font-size: var(--header-2);
  font-weight: var(--font-weight-bold);
  line-height: 74px;
}

.background-comments {
 padding-bottom: 14px;;
}

.background-coment{
  background-color: #ECF0F1; 
  box-shadow: 0px 0px 9px 9px rgba(0,0,0,0.1);
}

.background-formulary {
  margin: 24px 0;
  
}

.background-gradient{
  
  background: linear-gradient(to top, #02735E, #d5e8d9);
}

.profile-img {
  width: 15%;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.product-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.imagen {
  border-radius: 10px;
}

.footer{
  background-color: #064452;
}

a.link-footer {
  color: inherit;
  text-decoration: none; 
}

@media screen and (min-width: 992px) {
  .profile-img {
    width: 30%;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1399.98px) {

  .container {
      width: 84%;
  }

}

@media (max-width: 576px) {

  .navbar {
      padding: 28px 0;
  }

  a.nav-link {
      margin-right: 7px 0;
  }

  section.hero {
      margin: 2rem 0;
      text-align: center;
  }

  .btn {
      display: block;
      margin: 1rem 0;
  }

  .ms-3 {
      margin-left: 0 !important;
  }

  .text-label,
  .text-hero-bold,
  .text-regular {
      text-align: center;
  }

  .text-hero-bold {
      font-weight: var(--font-weight-bold);
      font-size: var(--header-3);
      line-height: 64px;
  }

  section.hero img {
      margin: 2rem 0;
  }
}

@media (max-width: 768px) {

  .navbar {
      padding: 28px 0;
  }

  a.nav-link {
      margin-right: 7px 0;
  }

  section.hero {
      margin: 1rem 0;
  }

  .text-hero-bold {
      font-weight: var(--font-weight-bold);
      font-size: var(--header-3);
      line-height: 64px;
  }

  section.hero img {
      margin: 2rem 0;
  }

}

@media (max-width: 992px) {
  .navbar {
      padding: 28px 0;
  }

  a.nav-link {
      margin-right: 7px 0;
  }

  section.hero {
      margin: 1rem 0;
  }

  .text-hero-bold {
      font-weight: var(--font-weight-bold);
      font-size: var(--header-3);
      line-height: 64px;
  }

  section.hero img {
      margin: 2rem 0;
  }
}