.background-comments{
    background-color: rgb(255, 255, 255);
}

.profile-img{
    width: 15%;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.product-img{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.product-card{
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

@media screen and (min-width: 992px){
    .profile-img{
        width: 30%;
        border-radius: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }
}

.background-formulary{
    background-image: url(/imgs/Diseño_sin_título__1_-removebg.png);
    background-color: #81B622;
    max-width: 100%;
    padding-top: 9rem;
    z-index: 2;

}

.background-products{
    background-color: rgb(236, 240, 241)


}
.backgorund-hero{
    background-image: url(/imgs/background-hero.jpg);
    background-position: center;
    background-size: cover;
    max-height: 40vh;
}

.separator {
    position: relative;
    background: rgb(236, 240, 241);
    height: 10vh;
  }
  
  .wave {
    position: absolute;
    height: 19px;
    width: 100%;
    background:rgb(236, 240, 241);
    bottom: 0;
  }
  
  .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }
  
  .wave::before {
    width: 55%;
    height: 109%;
    background-color: #81B622;
    right: -1.5%;
    top: 60%;
  }
  .wave::after {
    width: 55%;
    height: 100%;
    background-color: rgb(236, 240, 241);
    left: -1.5%;
    top: 40%;
  }